<div class="fixed w-56 bg-white shadow-md h-screen flex flex-col">
  <div class="h-40 p-4 bg-green-500 text-white text-4xl flex justify-start items-end">
    <i aria-hidden="true" class="fa-solid fa-coins pr-4"></i>
    Finly
  </div>
  <div class="flex grow flex-col py-4 justify-between">
    <ul>
      <li>
        <a href="/dashboard" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-home pr-2"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/dashboard/customers" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-users pr-2"></i>
          Customers
        </a>
      </li>
      <li>
        <a href="/dashboard/invoices" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-copy pr-2"></i>
          Invoices
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/logout" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-power-off pr-2"></i>
          Sign out
        </a>
      </li>
    </ul>
  </div>
</div>