<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <h1 class="text-emerald-500"><%= message %></h1>
  <p class="text-emerald-800">Response created using EJS</p>
  <button class="btn btn-primary m-2">Click me!</button>
</body>
</html>